.navbar {
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(1.4rem + .6vw);
    }
  }
  
  .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #cdcdcd;
      color: #333;
    }
  }
}
