<section class="section port py-5 d-flex align-items-center" style="background-color: #30006b; color: #ffffff;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                {{ partial "utilities/image-fluid" "images/EVA-Web-Hero1.png" }}
            </div>
            <div class="col-12 col-md-6 text-white">
                {{ with .content.title }}
                    <h3 class="hero-title fw-bold display-2 text-white pb-4">{{ . | markdownify }}</h3>
                {{ end }}
                {{ with .content.text }}
                    <h4 class="text-white pb-4">{{ . | markdownify }}</h4>
                {{ end }}
                <div class="d-flex flex-row justify-content-center align-items-center">
                    {{ with .content.buttonPrimary }}
                        <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
                    {{ end }}
                    {{ with .content.buttonSecondary }}
                        <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
  </section>
  