<section class="section process py-5" style="background-color: #30006b; color: #ffffff;">
  <div class="container">
    <div class="row justify-content-left pb-5">
      <div class="col-12 col-xl-6">
        <h3 class="fs-1 fw-bold text-left text pb-1" style="color: #ffffff;">THE EVA PROCESS </h3>
        <p class="fs-5 fw-normal text-left text pb-1" style="color: #ffffff;">Every client is unique with varying needs. EVA provides a variety of IT services tailored to your business needs and objectives.</p>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-12 col-xl-3">
        <div class="card bg-blue-16 border-0 border-radius-0 p-4">
          <div class="card-body text-center">
            <h4 class="text-center text pb-4" style="color: #ffffff;">Initial Consult</h4>
            <p class="fs-6 fw-normal text-center text pb-3" style="color: #ffffff;">We start by understanding your needs and requirements during an initial consultation.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-3">
        <div class="card bg-blue-16 border-0 border-radius-0 p-4">
          <div class="card-body text-center">
            <h4 class="text-center text pb-4" style="color: #ffffff;">Analysis/Review & Research</h4>
            <p class="fs-6 fw-normal text-center text pb-3" style="color: #ffffff;">Next, we analyze your requirements and research potential solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-3">
        <div class="card bg-blue-16 border-0 border-radius-0 p-4">
          <div class="card-body text-center">
            <h4 class="text-center text pb-4" style="color: #ffffff;">Review Findings</h4>
            <p class="fs-6 fw-normal text-center text pb-3" style="color: #ffffff;">We present our findings to you and discuss the best approach moving forward.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-3">
        <div class="card bg-blue-16 border-0 border-radius-0 p-4">
          <div class="card-body text-center">
            <h4 class="text-center text pb-4" style="color: #ffffff;">Implementation & Beyond</h4>
            <p class="fs-6 fw-normal text-center text pb-3" style="color: #ffffff;">We implement the agreed solutions and provide ongoing support to ensure continued success.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
